*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body
{
    background: url(img/breu-Bg-site.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}
.rain 
{
    height: 100vh;
    background: url(img/rain.png);
    animation: rain 2s linear infinite;
}
.rain:before
{
    content: "";
    position: absolute;
    background: url(img/lightining.png);
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    background-color: #ffffff55;
    animation: lighting 3s linear infinite;
    opacity: 0;  
}
@keyframes rain 
{
    0%
    {
        background-position: 0% 0%;
    }
    100%
    {
        background-position: 20% 100%;
    }
}
@keyframes lighting 
{
    0%
    {
        opacity: 0;
    }
    20%
    {
        opacity: 0;
    }
    21%
    {
        opacity: 1;
    }
    25%
    {
        opacity: 0;
    }
    30%
    {
        opacity: 0;
    }
    31%
    {
        opacity: 1;
    }
    35%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}
nav 
{
    position: absolute;
    display: grid;
    /* justify-content: center; */
    /* margin: 0rem 25rem; */
    z-index: 1;
}
nav a 
{
    margin-top: 0.0625rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
nav img 
{
    margin: 20px;
    width: 40px;
    padding: 0;
}
nav a p{
    margin-top: -1rem;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1200px) {
    body {
      background-color: black; 
      background-size: 100%;
    }
  }

  @media only screen and (max-width: 800px) {
    nav img
    {
       margin: 10px;
       align-items: center;      
       
    }
  }

  @media only screen and (max-width: 500px) {
    nav 
    {
        margin-top: 165px;
        margin-left: 130px;
        z-index: 1;
    }
    nav img 
    {
        margin: 5px;
        width: 50px;
        padding: 0;
    }
  }